doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario 
            h1= title 
            p Agrega tu e-mail para reestablecer la contraseña

            include partials/messages
                                
            form.caja-login(method="post", action="/forgot-password")
                .campo 
                    label(for="email") E-mail: 
                    input(type="email" name="email" placeholder="E-mail" value= email required)

                .campo.enviar
                    input.boton(type="submit" value="Reestablecer Password")

                .campo.acciones
                    a(href="/login") Iniciar sesion 