doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        style
            include ./email.css
    body
        h2 Confirma tu cuenta
        p Ya casi has terminado, solo falta un paso más, para confirmar tu cuenta, haz click en el siguiente botón:
        a(href=`${url}`) Confirmar Ahora
        p Si no puedes acceder a este enlace visita la siguiente direccion en tu navegador: #{url}